<?xml version="1.0"?>
<config>
    <modules>
        <LCB_InstantCheckout>
            <version>0.1.0</version>
        </LCB_InstantCheckout>
    </modules>
    <frontend>
        <routers>
            <instantcheckout>
                <use>standard</use>
                <args>
                    <module>LCB_InstantCheckout</module>
                    <frontName>instant</frontName>
                </args>
            </instantcheckout>
        </routers>
    </frontend>
    <global>
        <helpers>
            <instantcheckout>
                <class>LCB_InstantCheckout_Helper</class>
            </instantcheckout>
        </helpers>
        <blocks>
            <instantcheckout>
                <class>LCB_InstantCheckout_Block</class>
            </instantcheckout>
        </blocks>
    </global>
    <default>
        <web>
            <routers>
                <instantcheckout_router>
                    <area>frontend</area>
                    <class>LCB_InstantCheckout_Controller_Router</class>
                </instantcheckout_router>
            </routers>
        </web>
    </default>
</config> 